body {
	background-image:url('/static/img/logo64.png');
	background-repeat:no-repeat;
	background-position:right 16px top 48px;
}

.content {
	padding:0 2em;
}

.server {
	margin-bottom:0.5em;
}

.name {
	font-weight:bold;
}

.wads, .map {
	font-size:.67em;
}
